@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dansk Biavlerforening - Varroamideroptællingssystem</h1>
    <p class="lead">Dette er hjemmesiden hvor at der oprettes Varroamidetællinge. Disse data skal bruges til at få et overblik over hvor hårdt ramt
        de forskellige egne i landet er af varroamider. </p>
</div>

<div class="row" >
    <div class="col-md-6" id="infoForm" align="center">
        <h2>BiMagazinet</h2>
        <p>Læs det sidste nye i BiMagazinet, Magazinet for rigtige bee'buds. Kæmpe interview med Anders Kendt, 10 ting du ikke vidste om biavling!</p>
    </div>
    <div class="col-md-6" id="infoForm" align="center">
        <h2>Biernes Dag er bestøvningens dag</h2>
        <p>Æbler og en lang række andre afgrøder er afhængige af biernes bestøvning og den 20. maj er derfor udråbt som FN´s internationale bi-dag.</p>
    </div>
</div>